@font-face {
  font-family: nes;
  src: url("/font/nes.ttf");
}

.footer {
  font-family: "Opan Sans", sans-serif;
  pointer-events: none;
  user-select: none;
  background-color: #000f33;
  margin: 0 auto;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
}

.copyright {
  color: oldlace;
  font-size: 15px;
}

.name {
  padding-left: 5px;
  color: oldlace;
  opacity: 0.7;
  font-weight: lighter;
  align-self: center;
}

.info {
  margin: 0 auto;
  max-width: 50%;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
